<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head('Pizza details')}"></head>

<body>
<main>
    <h1> Pizza details</h1>
    <p th:text="${pizza.name}"></p>
    <p th:text="${pizza.description}"></p>
    <p th:text="${pizza.price}"></p>
    <div>
        <img th:src="@{${pizza.photo}}" alt="pizza image" class="w-25">
    </div>
    <hr>
    <a class="btn" th:href="@{/pizzas}" role="button"> Back to pizza list</a>

    <h4>Special offers!</h4>
    <section class="mt-5">
        <h3>
            <span>Offers</span>
            <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn">Add offer</a>
        </h3>
        <table class="table" th:if="${pizza.offers.size() > 0}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Expire Date</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${pizza.offers}">
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.startDate}"></td>
                <td th:text="${offer.expireDate}"></td>
                <td>
                    <a th:href="@{/offers/edit/{id}(id=${offers.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info" th:if="${pizza.offers.size() == 0}">
            There are no offer for this pizza
        </div>
    </section>

</main>

<th:block th:replace="~{fragments/resources :: script}"></th:block>
</body>
</html>